<% provide(:title, "Questions") %>
<br/>
<div class="container">
    <div class="row">
     <div class="col-md-12">
     <% if is_admin? %>
<%= link_to "Post new Question", new_post_quest_path, :class => "btn btn-success" %>
  <%end%>
  </br></br>
    <% @post_quests.each do |ques| %>
      <% if ques %>
        <div class="col-md-3">
        <div class="panel panel-success">
    <div class="panel-heading">
    <%=link_to truncate(ques.ques_text, :length => 60), ques %></div>
        <div class="panel-body">
          <button type="button" class="btn btn-danger btn-sm">Answers <%ans_count = Answer.where(question_id: ques.id).count%>
           <span class="badge"><%= ans_count %></span></button>
           <button type="button" class="btn btn-default btn-sm">Topic ID <span class="badge"><%= ques.t_id %></span></button>
          </br>
          
        </div>
      </div>  
    </div>
      <%end%>
    <%end%>

    </div>
    <%= will_paginate %>
  </div>
</div>

