<% if anyques %>
<% provide(:title, "#{anyques.ques_text}") %>
<% end %>
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--<div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-body">  
            
              
                <% if anyques && current_user%>
                </br>
                <p>
                <% if user_follow_ques == false %>
                <%= link_to 'Follow', new_ques_follow_path(:id => anyques.id), :class => "btn btn-warning btn-sm" %>
                <%else %>
                 <div class= "btn btn-success btn-sm" ><b>Following</b></div> 
                </p>
                <%end %>
                <%end %> 
              
                  
       
      </div>
    </div>
  </div>  --> 
  
<div class="col-md-7 col-md-offset-1">
  <div class="panel panel-default">
    <% if anyques %>
    <!--<div class="panel-heading"><b>Question Id: <%= anyques.id %></b></div>
      
    -->
      <div class="panel-body">
        <img class="img-responsive" src="../assets/ques.jpg">
          <h2> <%= anyques.ques_text %> </h2> 
          <p class="lead"></p>
            <hr></hr>
              <p><span class="glyphicon glyphicon-time"></span>
               Posted on Feb 20, 2015 at 9:00 PM
              </p>
            <hr></hr><br />

          <%if current_user %> 
        
          <%= render partial: "/answers/new" %>
          <%else %>
          Login to answer !      
          <% end %>
          <%else%>
          SOME ERROR ! We are working on it. No need to panic !
          <%end %>
      </div>
  </div>
</div>

<div class="col-md-3">
    <div class="panel panel-default">
    <div class="panel-heading" align="center"><h3>Latest Questions</h3></div>
    <div class="panel-body">

        <% if anyques && current_user%>
                 <p> <% postques_show_sidebar.each do |question|%>
          <% if question %>
                 <img class="img-responsive" src="../assets/ques.jpg">      
                 <p><b><%= link_to question.ques_text, question %>
                 </b></p>
                 <hr></hr>
          <br />     
        <% end %>
       <% end %></p>      
          <% end %>
    </div>
  </div>

</div>
          </div>
          </div>




    <div class="row">
 
   <div class="col-md-7 col-md-offset-1">
  <div class="panel panel-default">
  <div class="panel-heading"><h5>All Answers to this Question</h5></div>
  <div class="panel-body">
    <% if allans_show.count == 0%>
  <h4>There are no answers right now. Care to add !</h4>

    <%else%>
      <%= render partial: "answers/show"%>
      <%end%>
    </div>  
    </div>
    <%= link_to "Show All", answer_path(@anyques)%>
  </div>

</div>
</div>
