<% if userprofile %>
<% provide(:title, "#{userprofile.profile_name}") %>
<% end %>
<br/>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
    <div class="col-md-12">
    <!--<div class="col-md-3">
    <img src="/assets/default-.jpeg">
    </div>--> 
<div class="col-md-3">
  <div class="panel panel-default">
  
  <div class="panel-body">
  <% if userprofile %>
  

  <%= image_tag userprofile.avatar.url(:medium), :class => "img-responsive center-block" %>
  
    <% end %>      
  
</div>
</div>  
</div>
<div class="col-md-6">
  <div class="panel panel-default">
  <% if userprofile %>
  <div class="panel-heading"><b><%= userprofile.first_name %> <%= userprofile.last_name %></b></div>
  <div class="panel-body">
    
           <p> <%= userprofile.bio %></p>
           <p> <%= getid(userprofile.email) %></p>      

        </br>

<hr/><%= render 'shared/stats' %>
    <% end %>
  </div>
</div>
  
</div>
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel-heading">Related</div>
  <div class="panel-body">
    <% if userprofile %>
           <p> Related Profiles</p>      
    <% end %>
  </div>
</div>

</div>
</div>
</div>
  <div class="row">
    <div class="col-md-12">
    <div class="col-md-3">
 


<div style="text-align:center;"><%= render 'follow_form' if current_user %></div>

    
  

    </div>
    <div class="col-md-6">
  <div class="panel panel-default">
  <% if userprofile %>
  <div class="panel-heading"><b>Answers by me</b></div>
  <div class="panel-body">
    
           <p> </p>      
        
    <% end %>
  </div>
</div>
  
</div>
  </div>
</div>
</div>
