<% if userprofile %>
<% provide(:title, "#{userprofile.profile_name}") %>
<% end %>
<br/>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
    <div class="col-md-12 col-md-offset--1">
    <!--<div class="col-md-3">
    <img src="/assets/default-.jpeg">
    </div>--> 
<div class="col-md-3">
  <div class="panel panel-default">
  
  <div class="panel-body">
  <% if userprofile %>
  

  <%= image_tag userprofile.avatar.url(:medium), :class => "img-responsive center-block" %>
    <% end %>      
  
</div>
</div>  
</div>
<div class="col-md-6">
  <div class="panel panel-default">
  <% if userprofile %>
  <div class="panel-heading"><b><%= userprofile.first_name %> <%= userprofile.last_name %></b></div>
  <div class="panel-body">
    
           <p> <%= userprofile.bio %></p>      
        
    <% end %>
  </div>
</div>
  
</div>
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel-heading">Related</div>
  <div class="panel-body">
    <% if userprofile %>
           <p> Related Profiles</p>      
    <% end %>
  </div>
</div>

</div>
</div>
</div>
  <div class="row">
    <div class="col-md-12">
    <div class="col-md-3">
  <div class="panel panel-default">
  
  <div class="panel-body">
    <% if userprofile %>
           <p> Profile name: <%= userprofile.profile_name %></p>   
           <p> First Name : <%= userprofile.first_name %></p>
           <p> Last Name : <%= userprofile.last_name %></p>  
           <p> Email : <%= userprofile.email %></p>      
<%= current_user.admin_role %>

    <%end %>
  </div>
</div>

    </div>
  </div>
</div>
</div>
