<% provide(:title, @title) %>
  <div class="col-md-3">
    
    <div class="panel panel-default">
  
  <div class="panel-body">
      <%= image_tag @user.avatar.url(:medium),:class => "img-responsive center-block"%>
      <h4 style="text-align:center;"><%= link_to @user.profile_name, @user %></h4>
         
      </div>      
    
     </div>
</div>
      <div class="col-md-6 ">
 <%= render 'shared/stats' %>
 </div>
 
    <div class="col-md-9 ">
 <div class="panel panel-default">

 <div class="panel-heading"><b><%= @title %></b></div>

  <div class="panel-body">

  <% @users.each do |user| %>
  
 <% if user %>

  <div class="col-md-3">
    <div class="col-md-3">
  
        <%= image_tag user.avatar.url(:tiny)%>
    </div>
    <div class="col-md-9">
      <p><%= link_to user.profile_name, user %><br><small><%= user.first_name %> <%= user.last_name %></small></p>
    </div>
  </div>


  <% end %>
 <% end %>


  </div>
</div>

<%= will_paginate %>

</div>

  



