<% provide(:title, "All users") %>

<br/>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
    <div class="col-md-10 col-md-offset-1">

  
 <div class="panel panel-default">
 <div class="panel-heading"><b>Registered Users</b></div>


  <div class="panel-body">

  
  <table class="table table-hover">
  <tr>
  <td>ID
    </td>
    <td> Avatar
    </td>
  <td>Name
    </td>
    <td>Username
    </td>
    <td>Email
    </td>
    <td>Credits
    </td>
    <td>Deactivate
    </td>
  </tr>
  <% @users.each do |user| %>
  
 <% if user %>
               
    
  
  <tr>
    <td><%= user.id%></td>
    <td><%= image_tag user.avatar.url(:tiny)%></td>
    <td><%= user.first_name %> <%= user.last_name %></td>
    <td><%= link_to user.profile_name, user %></td>
    <td><%= user.email %></td>
    <td><%#= user.cr %>50</td>
    <td><%= link_to "Deactivate"%></td>

  </tr>


  <% end %>
 <% end %>
</table>

  </div>
</div>

<%= will_paginate %>

</div>

  

</div>
</div>

