
<% ques_text = @anyques.ques_text
  t_id = @anyques.t_id %>

  <%= form_for [@anyques, Answer.new] do |f| %>
  <% if Answer.new.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4>Please check for the errors and retry.</h4>
      <ul>
        <% for message in Answer.new.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <p>
    <%= f.label "Your Answer" %><br />
    <%= f.text_area :answer_content, :cols => 10, :rows => 3, :class => "form-control" %>
  </p>
  <%= f.submit "Submit", :class => "btn btn-success"%>
<% end %>
