<% provide(:title, "Edit Answer") %>

<div class="container">
   
    <div class="row">
    
<div class="col-md-6 col-md-offset-3">
<b>Question: <%= @anyans.question_id%></b><hr/>
  <%= form_for @anyans do |f| %>
   <p>
    <%= f.label "Your Answer" %><br />
    <%= f.bootsy_area :answer_content, :cols => 12, :rows => 12, :class => "form-control" %>
  </p>
  <%= f.submit "Submit", :class => "btn btn-success"%>
<% end %>

</div>
</div>
</div>