
<% provide(:title, "Write Answer") %>

  <div class="container">
   
    <div class="row">
    
<div class="col-md-6 col-md-offset-3">
  <% if current_user %>
  </br>
  
  <% ques_text = params[:ques_text]
  t_id = params[:t_id]%>

  <div class="panel panel-default">
  <div class="panel-heading"><b><%= ques_text %></b> (Topic id: <%= t_id %>)</div>
  <div class="panel-body">
  
  <%= form_for @newans do |f| %>
  <% if @newans.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4>Please check for the errors and retry.</h4>
      <ul>
        <% for message in @newans.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <p>
   <%= f.hidden_field :question_id, :value => params[:q_id]%>
   <%= f.hidden_field :user_id, :value => current_user.email%>
    <%= f.label "Your Answer" %><br />
    <%= f.text_area :answer_content, :cols => 10, :rows => 8, :class => "form-control" %>
  </p>
  <%= f.submit "Submit", :class => "btn btn-success"%>
<% end %>
<% end %>
</div>
</div>
</div>
</div>