<% provide(:title, "My Credits") %>
<br/>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12 col-md-offset--1">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <%if current_user%>
              <%#= image_tag current_user.avatar.url(:medium), :class => "img-responsive center-block" %>
              <%= gravatar_for current_user, "200" %>
            <%end %>
            <div class="col-md-3 col-md-offset-1">
              <div class="row">
                <div class="col-md-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <% if current_user%>
            <div class="panel-heading"><b>My Credits</b></div>
            <div class="panel-body">
              <h1><b>Credits:</b> <%= credits_show %></h1>
              <%= link_to 'Rewards coming soon','#', :class => "btn btn-success" %>
            </div>
          <%else %>
            <% require_login %>
          <% end %>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Related</div>
            <div class="panel-body">
              <% if current_user %>
                <p> Related Profiles</p>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">Credits Breakdown</div>
          <div class="panel-body">
            <p>Each user gets <b>50</b> <em>Bonus Credits</em> on joining ideabata.</p>

              <!--<h5><b>Total Answer Upvotes</b> = some_value</br></br>
              <b>Total 'First Answer' Credits</b> = another_value
              </h5>-->
            <% if current_user %>
              <% credits_info.reverse.each do |user|%>
              <% if user %>
              <% @upvotedby = getusername(user.uid_from) %>
              <div class="col-md-10">
               <p> <b><%= @upvotedby %></b> upvoted your answer <em><%= user.ans_id%></em> (<%= time_ago_in_words(user.created_at) %> ago)
                </p>
                </div>
                <div class="col-md-2">
                <b>+<%= user.u_value %></b>
                </div>

              <% end %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
