<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post_attachment.user_id %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @post_attachment.avatar %>
</p>

<%= link_to 'Edit', edit_post_attachment_path(@post_attachment) %> |
<%= link_to 'Back', post_attachments_path %>
