<% if anytopic %>
<% #provide(:title, "#{anytopic.t_name}") %>
<% end %>

<br/>
<div class="container">
 
    <div class="row">
    <div class="col-md-12 col-md-offset--1">
    <!--<div class="col-md-3">
    <img src="/assets/default-.jpeg">
    </div>--> 
<div class="col-md-3">
  <div class="panel panel-default">
  
  <div class="panel-body">
    <div class="col-md-3 col-md-offset-1">
    <img src="/assets/default.jpeg">
    <div class="row">
    <div class="col-md-3">
    <% if anytopic %>
    </br>
    <p>
    <% if user_follow == false %>
    <%#= link_to 'Follow', {:controller => "topic_follows", :action => "update_follow", 
      :t_id => anytopic.t_id, :email => current_user.email}, :method => "post", :class => "btn btn-warning btn-sm" %>
    <%else %>
     <div class= "btn btn-success btn-sm" ><b>Following</b></div> 
    </p>

    <%end %>
    <%end %>
    </div>
    </div>
  </div>
</div>
</div>  
</div>
<div class="col-md-6">
  <div class="panel panel-default">
  <% #if anytopic %>
  <div class="panel-heading"><b><%= anytopic.t_name %></b></div>
  <div class="panel-body">
   
           <p> <%= anytopic.t_name %> (Include a brief description of this topic here.)</p>      
        
    <%# end %>
  </div>
</div>
  
</div>
<div class="col-md-3">
  <div class="panel panel-default">
  <div class="panel-heading">Related</div>
  <div class="panel-body">
    <% if anytopic %>
           <p> Related Profiles</p>      
    <% end %>
  </div>
</div>

</div>
</div>
</div>
  <div class="row">
    <div class="col-md-12">
    <div class="col-md-3">
  <div class="panel panel-default">
  
  <div class="panel-body">
    <% if anytopic %>
           <p> Topic name: <%= anytopic.t_name %></p>   
           <p> Topic Id: <%= anytopic.id %></p>     
 <% end %>
    
  </div>
</div>

    </div>
       <div class="col-md-6">
 <div class="panel panel-default">
 <div class="panel-heading">
<% if anytopic %>
 <b>Questions under <%= anytopic.t_name %></b></div>
  <% end %>

  <div class="panel-body">
  <%if anytopic.post_quests.count == 0 %>
 
  <h4>There are NO questions under this topic.</h4>
  <% end %>
  <% anytopic.post_quests.each do |question|%>
 <% if question %>
           <p>Id: <%= question.id %> Topic Id: <%= question.id %> </p>      
           <p><b><%= link_to question.ques_text, question %></b> </p>             
            <p><div <% if question.upvote %> 
           class='btn btn-success btn-sm' 
           <% else %>
           class='btn btn-warning btn-sm' 
           <% end %> >
           Upvote
           </div> 
           <div <% if question.follow %> 
           class='btn btn-success btn-sm' 
           <% else %>
           class='btn btn-warning btn-sm' 
           <% end %> >
           Follow
           </div> 
           </p>     
  
 
  <% end %>
 <% end %>


  </div>
</div>

  
</div>
  </div>
</div>
</div>
